<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="t1">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import t1 urdf file -->
    <xacro:include filename="$(find t1_description)/urdf/t1.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="t1.ros2_control.xacro" />


    <xacro:t1_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
